In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Descripción del DataSet principal.

Este conjunto de datos contiene una lista completa de las canciones más famosas de 2023 enumeradas en Spotify. El conjunto de datos ofrece una gran cantidad de características más allá de las que normalmente están disponibles en conjuntos de datos similares. Proporciona información sobre los atributos, la popularidad y la presencia de cada canción en varias plataformas de música. El conjunto de datos incluye información como el nombre de la pista, el nombre del artista, la fecha de lanzamiento, las listas de reproducción y gráficos de Spotify, estadísticas de transmisión, presencia de Apple Music, presencia de Deezer, gráficos de Shazam y varias funciones de audio.

 # 1.1 Carga de los datos del DataSet.

In [2]:
# Primero vamos hacer una carga de los datos para mostrar las columnas que hay en el dataframe.

datos_canciones = 'spotify_2023.csv'  
df = pd.read_csv(datos_canciones, encoding='latin1')

In [3]:
# Vamos a ver el dataset principal. 

df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [4]:
# Vamos a ver la información del dataset.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

In [5]:
# A continucación podemos ver las entidades de las columnas que contiene el dataset.
df.columns

Index(['track_name', 'artist(s)_name', 'artist_count', 'released_year',
       'released_month', 'released_day', 'in_spotify_playlists',
       'in_spotify_charts', 'streams', 'in_apple_playlists', 'in_apple_charts',
       'in_deezer_playlists', 'in_deezer_charts', 'in_shazam_charts', 'bpm',
       'key', 'mode', 'danceability_%', 'valence_%', 'energy_%',
       'acousticness_%', 'instrumentalness_%', 'liveness_%', 'speechiness_%'],
      dtype='object')

#  2. Data Wrangling.

# 2.1 Manejo de Datos Faltantes:

In [6]:
# Verificar si hay valores nulos en el DataFrame

valores_nulos = df.isnull().sum()

valores_nulos

track_name               0
artist(s)_name           0
artist_count             0
released_year            0
released_month           0
released_day             0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
dtype: int64

In [7]:
# Eliminar comas y convertir la columna 'in_shazam_charts' a tipo numérico
df['in_shazam_charts'] = df['in_shazam_charts'].str.replace(',', '').astype(float)

In [8]:
# A continucación vamos a rellenar los datos faltantes con la mediana de las siguientes columnas: in_shazam_charts 

avg_in_shazam_charts = df['in_shazam_charts'].median()
print("Mediana de la columna in_shazam_charts: ", avg_in_shazam_charts)
# Rellenar los valores nulos en 'in_shazam_charts' con la mediana

df['in_shazam_charts'].fillna(avg_in_shazam_charts, inplace = True)

In [26]:
print("Mediana de la columna in_shazam_charts: ", avg_in_shazam_charts)

Mediana de la columna in_shazam_charts:  2.0

In [9]:
# A continucación elimine la columna key del dataframe ya que no lo veo necesario para el analisis que quiero abordar. 

df.drop('key', axis=1, inplace=True)

In [10]:
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,in_shazam_charts,bpm,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,826.0,125,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,382.0,92,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,949.0,138,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,548.0,170,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,425.0,144,Minor,65,23,80,14,63,11,6

# 2.2 Transformación de Fechas:

In [13]:
# A continuación vamos a cambiar el formato de las fechas de las columnas: released_year - released_month

df['released_year'] = pd.to_datetime(df['released_year'], format='%Y')

df['released_month'] = pd.to_datetime(df['released_month'], format='%m')

In [15]:
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,in_shazam_charts,bpm,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023-01-01,1900-07-01,14,553,147,141381703,43,...,826.0,125,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023-01-01,1900-03-01,23,1474,48,133716286,48,...,382.0,92,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023-01-01,1900-06-01,30,1397,113,140003974,94,...,949.0,138,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019-01-01,1900-08-01,23,7858,100,800840817,116,...,548.0,170,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023-01-01,1900-05-01,18,3133,50,303236322,84,...,425.0,144,Minor,65,23,80,14,63,11,6

# 2.3 Agrupación por Mes:

In [18]:
df_monthly = df.groupby('released_year').agg({'streams':'sum'}).reset_index()

df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,in_shazam_charts,bpm,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023-01-01,1900-07-01,14,553,147,141381703,43,...,826.0,125,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023-01-01,1900-03-01,23,1474,48,133716286,48,...,382.0,92,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023-01-01,1900-06-01,30,1397,113,140003974,94,...,949.0,138,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019-01-01,1900-08-01,23,7858,100,800840817,116,...,548.0,170,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023-01-01,1900-05-01,18,3133,50,303236322,84,...,425.0,144,Minor,65,23,80,14,63,11,6

# 2.4 Validación de Valores Únicos y Eliminación de Duplicados:

In [20]:
# Verificar duplicados en el DataFrame
duplicados = df.duplicated().sum()
print("Cantidad de duplicados:", duplicados)

# Eliminar duplicados si los hay
df.drop_duplicates(inplace=True)

Cantidad de duplicados: 0

# 2.5 Normalización de Datos:

In [23]:
# Ahora procedí a eliminar las comas de la columna "streams" y cambiarle el tipo de dato a numerico "int"

# Extraer solo los números de la columna 'streams' y convertir a tipo float
df['streams'] = df['streams'].str.extract('(\d+)').astype(float)

In [25]:
df.dtypes

track_name                      object
artist(s)_name                  object
artist_count                     int64
released_year           datetime64[ns]
released_month          datetime64[ns]
released_day                     int64
in_spotify_playlists             int64
in_spotify_charts                int64
streams                        float64
in_apple_playlists               int64
in_apple_charts                  int64
in_deezer_playlists             object
in_deezer_charts                 int64
in_shazam_charts               float64
bpm                              int64
mode                            object
danceability_%                   int64
valence_%                        int64
energy_%                         int64
acousticness_%                   int64
instrumentalness_%               int64
liveness_%                       int64
speechiness_%                    int64
dtype: object

In [27]:
df.describe()

,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_charts,in_shazam_charts,bpm,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
count,953.000000,953,953,953.000000,953.000000,953.000000,9.530000e+02,953.000000,953.000000,953.000000,953.000000,953.000000,953.00000,953.000000,953.000000,953.000000,953.000000,953.000000,953.000000
mean,1.556139,2018-03-28 22:23:17.691500544,1900-06-02 06:57:02.455403776,13.930745,5200.124869,12.009444,5.135979e+08,67.812172,51.908709,2.666317,56.952781,122.540399,66.96957,51.431270,64.279119,27.057712,1.581322,18.213012,10.131165
min,1.000000,1930-01-01 00:00:00,1900-01-01 00:00:00,1.000000,31.000000,0.000000,1.100000e+02,0.000000,0.000000,0.000000,0.000000,65.000000,23.00000,4.000000,9.000000,0.000000,0.000000,3.000000,2.000000
25%,1.000000,2020-01-01 00:00:00,1900-03-01 00:00:00,6.000000,875.000000,0.000000,1.413817e+08,13.000000,7.000000,0.000000,0.000000,100.000000,57.00000,32.000000,53.000000,6.000000,0.000000,10.000000,4.000000
50%,1.000000,2022-01-01 00:00:00,1900-06-01 00:00:00,13.000000,2224.000000,3.000000,2.902286e+08,34.000000,38.000000,0.000000,2.000000,121.000000,69.00000,51.000000,66.000000,18.000000,0.000000,12.000000,6.000000
75%,2.000000,2022-01-01 00:00:00,1900-09-01 00:00:00,22.000000,5542.000000,16.000000,6.738011e+08,88.000000,87.000000,2.000000,33.000000,140.000000,78.00000,70.000000,77.000000,43.000000,0.000000,24.000000,11.000000
max,8.000000,2023-01-01 00:00:00,1900-12-01 00:00:00,31.000000,52898.000000,147.000000,3.703895e+09,672.000000,275.000000,58.000000,1451.000000,206.000000,96.00000,97.000000,97.000000,97.000000,91.000000,97.000000,64.000000
std,0.893044,NaN,NaN,9.201949,7897.608990,19.575992,5.668039e+08,86.441493,50.630241,6.035599,157.404449,28.057802,14.63061,23.480632,16.550526,25.996077,8.409800,13.711223,9.912888